* {
    padding: 0;
    margin: 0;
}
body{
    background-color: #fcf8f5;
}

.product_container {
    display: flex;
    flex-direction: column;


}
.image-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s ease;
    border-radius: 20px;
    display: block;
    overflow: hidden;
}

.product_container:hover img {
    transform: scale(1.08);
    border: 3px solid #db392a;
}
.image-wrapper {
    position: relative;
    border-radius: 20px;

}

.row h1{
    font-size: 40px;
    padding-bottom: 20px;
    color: #24110b;
    font-weight: bold;
}
.products{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
}

.add-cart {
    position: absolute;
    bottom: -22px;
    left: 50%;
    transform: translateX(-50%);
    background: white;
    border: 2px solid #a09091;
    border-radius: 50px;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 12px 28px;
    width: 156px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
}
.product_info span{
    font-size: 12px;
    color: #4b3e38;
    
}
.product_info h2{
     font-size: 15px;
     color: #160b09;
 }
.product_info p{
    font-size: 15px;
    color: #db392a;
}
.product_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    
}

.cart{
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;

}
.cart .cart-items{
    display: flex;
    flex-direction: column;

}
.cart .cart-items h2{
    font-size: 20px;
    padding-top: 20px;
    color: #24110b;

}
.cart .cart-items .cart-info{
    display: flex;
    font-size: 18px;
    border-bottom: 2px solid #fcf8f5;
    position: relative;

}
.cart .cart-items .cart-info svg{
    fill: #24110b;
    width: 25px;
    height: 25px;
    position: absolute;
    right: 10px;
    top: -10px;
    cursor: pointer;


}
.cart .cart-items .cart-info span{
    padding: 0 15px 15px 0;
    color: #eaba95;
}
.cart .cart-items .cart-info .quantity{
    color: #ff8224;
}
.cart-total-price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.cart-total-price .total-price{
    font-size: 28px;
    font-weight: 600;
}
.cart .confirmBtn{
    background-color: #c0392b ;
    color:  white;
    padding: 16px 32px;
    border: none;
    border-radius: 50px;
    width: 100%;
}
.cart .display-img img {
    object-fit: contain;
    width:  100%;
    height: 300px;

}
.cart .display-img p {
    text-align: center;
    color: #db392a;

}


#cart-counter{
    color: #ca410a;
    font-size: 28px;

}
.cart-control button span{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.quantity-control button {
    background: none;
    border: none;
    color: white;
    font-size: 25px;
}
.quantity-control {
    position: absolute;
    left: 50%;
    bottom: -22px;
    transform: translateX(-50%);
    border-radius: 50px;
    background-color: #c0392b;
    height: 43px;
    padding: 12px 28px;
    width: 156px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.btn-control span {
  font-size: 18px;
  
}
.order {
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    display: none;
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-padding-block: 30px;

}
.order.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order-content {
    background: #fff;
    padding: 30px;
    width: 500px;
    border-radius: 12px;

}
.order-content svg{
    width: 50px;
    height: 50px;
    fill: #63e6be;
}
.order-content h2{
    font-size: 35px;
    color: #160b09;
    font-weight: bold;
}
.order-content p{
    font-size: 15px;
    color: #a09091;
}
.start-new {
    width: 100%;
    padding: 10px;
    background: #db392a;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
.order-container{
    display: flex;
    flex-direction: column;
    background-color: #fcf8f5;
    border-radius: 20px;

}
.order-items-wrapper{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eaba95;
    margin: 10px;


}


.order-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 20px;
    padding: 15px 15px 15px 0;


}
.order-info{
    display: flex;

}
.order-info span{
    padding: 5px 15px 15px 0;
    color: #eaba95;
    font-size: 15px;

}
.order-name{
    font-weight:  bold;
}
.order-info .quantity{
    color: #ff8224;
    font-size: 15px;

}
.order-items{
    display: flex;
    flex-direction: column;
    position: relative;



}
.order-items .itemTotal{
    color: #24110b;
    position: absolute;
    right: -90px;
    top: 10px;
    font-weight: bold;


}


